#ifndef CONFIG_H
#define CONFIG_H

// buffer size
#define MBS 2048

//magic header
#define MAGIC_HEADER  "YOUR_HEADER"

//udp
#define LOCAL_IP      "ip"
#define LOCAL_PORT     port

#define PEER_IP       "ip"
#define PEER_PORT     port

//crypto
#define MY_KEY       "YOUR_KEY"

//tun
#define TUN_NAME "tun0"
#define TUN_IP "tun_ip"
#define TUN_PREFIX 24

//event_loop
#define MAX_EVENTS 10

#endif